# DATA JA RAJAPINTA TYÖPAJA - 19.2.2025

## Työpajaohjeistus
Työpajan tarkoituksena on opettaa Jupyter Notebooksin käyttöä datan analysointiin ja visualisointiin, sekä näyttää kuinka dataa voidaan hakea rajapinnasta.

Työpaja on jaettu kolmeen osaan:
1. Datan analysointi
2. Datan visualisointi
3. Datan hakeminen rajapinnan kautta

Työpajan aikana voi kysyä apua asiantuntijoilta.

## Työpaja osa - 1
Tiedostoista löytyy kahden kunnan, Kauhajoen ja Hämeenlinnan, vuoden 2023 ostolaskut. Tehtävänäsi on käydä läpi dataa (.csv tiedostot) ja valita "tilin nimi" sarakkeesta saman nimiset tai lähellä toisiaan olevat tilit.

Seuraavaksi tehtävänäsi on analysoida kustannuksia näiden kahden kunnan välillä. Esim. kuinka paljon kustannuksia on kuljetuspalveluissa tai paljonko rahaa menee sivistykseen.

## Esimerkki 1
Summataan vuoden aikana kertyneet ostolaskut tilin nimen perusteella.

In [8]:
import os
import pandas as pd

def analyze_invoices():
    invoices = pd.read_csv('./kauhajoen-kaupunki_ostolaskut_2023.csv', encoding='windows-1252', sep=';')
    return invoices.groupby('Tilin nimi').agg({'Rivin nettosumma': 'sum'}).sort_values('Rivin nettosumma', ascending=False)
analyze_invoices()

                                          Rivin nettosumma
Tilin nimi
Kuntatod. Kuntarahoitus Oy:ltä (l.a)           60500000.00
Keskener.hankinnat muiden rak.uudisrak          5342568.42
Lyhennysosuudet/kotim.rah.laitok. (l.a)         5323370.00
KuEL-maksu/ työnantaja                          3662746.14
Keskener.hank. kiinteät rak. ja laitteet        2144224.20
...                                                    ...
Asiakaspalvelujen osto valtiolta                    152.00
Myyntireskontran selvittelytili                     147.16
MYRE-välitili                                       107.78
LLKY:ltä siirtyvät saatavat                           0.00
Kuel/eläkemenoperusteinen maksu                   -6214.84

[101 rows x 1 columns]

In [ ]:
#Päivämäärien korjaaminen standardimuotoon DDMMYYYY
invoices["Tositepvm"] = invoices["Tositepvm"].astype(str).str.zfill(8)

## Työpaja Osa - 2
Seuraavaksi visualisoimme edellisessä analyysissä olevia tietoja, jolloin niistä tulee helpommin hahmotettavia. Tässä käytetään x-kirjastoa datan visualisointiin.

Tehtävänäsi on luoda kuvaajat datalle, jossa verrataan molempien kuntien top 5 kuluja.

# Esimerkki 2

In [ ]:
# Koodia tähän

## Työpaja osa - 3
Seuraavaksi rikastutamme dataamme lisää hakemalla asukasmäärät kunnille Tilastokeskuksen rajapinnasta.

In [ ]:
import requests
import json
def get_population():
    url = 'https://pxdata.stat.fi:443/PxWeb/api/v1/fi/Kuntien_avainluvut/2023/kuntien_avainluvut_2023_viimeisin.px'
    data = json.dumps({"query": [{"code": "Alue","selection": {"filter": "agg:_- Kunnat aakkosjärjestyksessä 2023.agg","values": ["KU109","KU232"]}},{"code": "Tiedot","selection": {"filter": "item","values": ["M411"]}}],"response": {"format": "json-stat2"}})
    headers = {'Content-Type': 'application/json'}
    r = requests.post(url, headers=headers, data=data)
    r.raise_for_status()
    result = r.json()
    return result['value'] # Palauttaa listan, jossa on kaksi arvoa: Hämeenlinnan ja Kauhajoen väkiluvut
get_population()

[68319, 12618]